{% extends 'base.html.twig' %}

{% block title %}Blog
{% endblock %}

{% block body %}
	<body class="blog_body">
		<header>
			{% include ('_navbar.html.twig') %}
		</header>
		{% include "home/partials/_sidebar_user.html.twig" %}
		<div class="blog_page">
			<div class="first_part">
				<p class="category">BLOG</p>
				<div>
					<h1 class="blog_h1">
						<p class="transparent_weight mb-0">Nos articles</p>
						<p>sur l'économie collaborative
							<span class="growth_word">btob</span>
						</p>
					</h1>
				</div>
			</div>
		</div>
		<div class="lines">
			<div class="border_articles"></div>
		</div>
		<div class="articles">
			<div class="text-center fw-bold">
				<p class="blog_h2 mt-4">Retrouvez tous nos articles de blog ici<br/>et suivez toutes les tendances du marché de l'économie du partage.<br/>Vous serez un vrai PRO !</p>
			</div>
			<div class="container d-flex">
				<div class="row d-flex justify-content-center">
					{% for article in articles %}
						<a href="blog/{{ article.id }}" class="col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-4 p-3">
							<div class="">
								<div class="article p-3">
									<div class="article_img mb-3">
										<div class="img" style="background-image: url({{ article.image }});"></div>
									</div>
									<h2>{{ article.title }}</h2>
									<div class="article_sumary mb-2">{{ article.articleSumary }}</div>
									<div class="date_div">
										<div class="date">{{ article.date|date('d/m/Y') }}</div>
									</div>
								</div>
							</div>
						</a>
					{% endfor %}
				</div>
			</div>
		</div>

		<footer>
			{% include ('home/partials/_footer.html.twig') %}
		</footer>
		
	</body>
{% endblock %}
