{% extends 'base.html.twig' %}

{% block title %}Articles index
{% endblock %}

{% block body %}
	<body class="bg-index-articles">
		{{ include('admin/partials/_sidebar_admin.html.twig') }}
		<div class="index-articles-frame">
			<h1 class="text-center m-5">Articles publiés</h1>
			<div class="container">
				<div class="row row-cols-1 g-2 justify-content-center">
					{% for article in articles %}
						<div class="article-frame h-100 d-flex align-items-center justify-content-between rounded-3 m-2">
							<img class="article-admin-img img-fluid m-3" src="{{ article.image }}">
							<div class="w-100">
								<h3 class="text-center p-3 article-admin-title m-0">{{ article.title }}<span class="fs-6">
										({{ article.date ? article.date|date('d-m-y', 'europe/paris') : '' }})</span>
								</h3>
								<p class="article-admin-summary text-break text-start mx-3 mb-0" colspan="2">{{ article.articleSumary }}</p>
								<div>
									<p class="d-flex justify-content-center m-0 mb-2">
										<a href="{{ path('app_articles_show', {'id': article.id}) }}">
											<button type="button" class="btn btn-article-cancel fw-bold py-1 px-2 mx-2">Voir</button>
										</a>
										<a href="{{ path('app_articles_edit', {'id': article.id}) }}">
											<button type="button" class="btn btn-article-save fw-bold py-1 px-2 mx-0">Modifier</button>
										</a>
									</p>
								</div>
							</div>
						</div>
					{% else %}
						<div>
							<p colspan="7">Aucun article trouvé</p>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</body>
{% endblock %}
