{% extends 'base.html.twig' %}

{% block title %}Obtenez votre ebook{% endblock %}

{% block body %}
<div class="ebook d-flex flex-column align-items-center p-5">
    <div class="ebook-form-frame bg-primary mt-5 d-flex flex-column align-items-center">
        <h1 class="mt-3 text-center text-white ebook-title"> Obtenez votre e-book </h1>
        <p  class="mb-3 text-center ebook-text px-3">Vous souhaitez en savoir plus sur le marché de l'économie collaborative et les avantages financiers que
        cela peut avoir sur votre entreprise. Découvrez les chiffres clés et l'évolution de cette économie révolutionnaire.</p>
    </div>
    <div class="ebook-form-frame d-flex flex-column justify-content-center bg-white mb-3">
        <h1 class="mt-3 text-center title-fill-form">Remplissez ce formulaire</h1>
        <div class="d-flex justify-content-center">
        {{ form_start(form) }}
            <p class="mb-3">{{ form_widget(form.lastname) }}</p>
            <p class="mb-3">{{ form_widget(form.firstname) }}</p>
            <p class="mb-3">{{ form_widget(form.company) }}</p>
            <p class="mb-3">{{ form_widget(form.email) }}</p>
        </div>
        <button class="ebook-btn align-self-center mb-3 px-3 pt-1">{{ button_label|default('RECEVOIR') }}</button>
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}
