{% extends 'base.html.twig' %}

{% block title %}
	Contacts
{% endblock %}

{% block body %}

	<div class=" contacts container-fluid">
		<div class="row global_form_container">
            <div class="contact_img d-none d-lg-block p-0 m-0 col-xl-7 col-lg-6 ">
                <img class="contacts_img img-fluid img-responsive w-100 h-100" src="{{ asset('build/images/contacts_img/contacts_form_bg.jpg') }}" alt="Réunion de travail">
            </div>

			<div class="form-body form-group col-xl-5 col-lg-6 px-3 px-lg-5">
				<h1 class="contact-form-title mb-4 mb-xl-5 d-flex justify-content-center justify-content-md-start">Formulaire de contact</h1>
                <div class ="row">
				{{ form_start(form,  {
                    'attr' : {
                        'class' : 'inputs_groups'
                    }
                }) 
                }}

				{{ form_row(form.firstname, {
                    'label':false,
                    'attr': {
                        'placeholder' : 'Prénom',
                        'class' : 'contact_form_input',
                        }
                    }) 
                }}

				{{ form_row(form.lastname, {
                    'label':false,
                    'attr': {
                        'placeholder' : 'Nom',
                        'class' : 'contact_form_input'
                        }
                    }) 
                }}

				{{ form_row(form.email, {
                    'label':false,
                    'attr': {
                        'placeholder' : 'Adresse e-mail',
                        'class' : 'contact_form_input contact_form_mail'
                        }
                    }) 
                }}

				{{ form_row(form.company, {
                    'label':false,
                    'attr': {
                        'placeholder' : 'Société',
                        'class' : 'contact_form_input'
                        }
                    }) 
                }}

				{{ form_row(form.message, {
                    'label':false,
                    'attr': {
                        'placeholder' : 'Votre message',
                        'class' : 'contact_form_area', 
                        'rows' : 10
                        }
                    }) 
                }}

				{{ form_row(form.send, {
                    'label' : 'Envoyer',
                    'attr': {
                        'class' : 'contact_form_btn btn button button-2 fs-4 mt-4', 
                        }
                    }) 
                }}
				{{ form_end(form) }}
                </div>
			</div>
		</div>
	</div>
{% endblock %}
