{% extends 'base.html.twig' %}

{% block title %}
	Contacts
{% endblock %}

{% block body %}

	<div class="mt-5 contacts container-fluid border">
		<div class="row">
            <div class="contact_img col-xl-7  border">
            </div>
			<div class="form-body form-group col-xl-5 p-xl-3">
				<h1 class="contact-form-title d-flex justify-content-center fs-xs-5 fs-xl-1 mb-xl-4 ">Formulaire de contact</h1>
				{{ form_start(form) }}
				{{ form_row(form.firstname, {
                    'label':false,
                    'attr': {
                        'placeholder' : 'Prénom',
                        'class' : 'contact_form_input',
                        }
                    }) 
                }}

				{{ form_row(form.lastname, {
                    'label':false,
                    'attr': {
                        'placeholder' : 'Nom',
                        'class' : 'contact_form_input mb-xl-2'
                        }
                    }) 
                }}

				{{ form_row(form.email, {
                    'label':false,
                    'attr': {
                        'placeholder' : 'Adresse e-mail',
                        'class' : 'contact_form_input contact_form_mail'
                        }
                    }) 
                }}

				{{ form_row(form.company, {
                    'label':false,
                    'attr': {
                        'placeholder' : 'Société',
                        'class' : 'contact_form_input'
                        }
                    }) 
                }}

				{{ form_row(form.message, {
                    'label':false,
                    'attr': {
                        'placeholder' : 'Votre message',
                        'class' : 'contact_form_area', 
                        'rows' : 8
                        }
                    }) 
                }}

				{{ form_row(form.send, {
                    'label' : 'Envoyer',
                    'attr': {
                        'class' : 'contact_form_btn btn fs-4', 
                        }
                    }) 
                }}
				{{ form_end(form) }}
			</div>
		</div>
	</div>
{% endblock %}
